body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 900px;
  margin-bottom: 40px;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100%/3);
  height: 300px;
}

.blue-card {
  background-color: rgb(126, 186, 189);
}

.orange-card {
  background-color: darkorange;
}

.pink-card {
  background-color: hotpink;
}

.red-card {
  background-color: darkred;
}

.green-card {
  background-color: lightgreen;
}